<%- include('partials/header') %>
<%- include('partials/nav') %>
<main>
  <section class="hero-section">
    <div class="hero-overlay">
      <h1>Notre Produit</h1>
    </div>
  </section>
  <!-- Nouvelle section de présentation du catalogue -->
  <section class="catalogue-presentation">
    <div class="presentation-content">
      <div class="presentation-image">
        
          <div class="presentation-images-grid">
            <img
              src="/images/grain.png"
              alt="Coffee Image 1"
            />
            <img
              src="/images/grain2.png"
              alt="Coffee Image 2"
            />
            <img
              src="/images/sac-coffee.png"
              alt="Coffee Image 3"
            />
            <img
              src="/images/sac-coffee.png"
              alt="Coffee Image 3"
            />
            <img
            src="/images/prez-tasse.jpg"
            alt="Coffee Image 3"
          />
          <img
            src="/images/prez-coffee.jpg"
            alt="Coffee Image 3"
          />
          </div>
      </div>
      <div class="presentation-text">
        <h2>Bienvenue dans notre Catalogue</h2>
        <p class="presentation-description">
          Découvrez une sélection exquise de nos meilleurs produits de café,
          soigneusement sélectionnés pour satisfaire tous les amateurs de
          café. Chaque produit est choisi pour sa qualité exceptionnelle et
          ses saveurs uniques.
        </p>
        <p class="presentation-description">
          Explorez notre catalogue pour trouver le café parfait qui éveille
          vos sens et apporte une touche d'élégance à votre quotidien.
        </p>
        <a href="" class="cta-button2">Découvrez notre Boutique</a>
      </div>
    </div>
  </section>
    <section id="article">
      <h1 style="background-image: url('/images/coffees/<%= oneCard.reference %>.png')">
        <%= oneCard.name %>
      </h1>
    
      <p><%= oneCard.description %>.</p>
    
      <table>
        <tbody>
          <tr>
            <th>Origine</th>
            <td><%= oneCard.origine %></td>
          </tr>
          <tr>
            <th>Caractéristique principale</th>
            <td><%= oneCard.caracteristique %></td>
          </tr>
          <tr>
            <th>Prix au kg</th>
            <td><%= oneCard.price %></td>
          </tr>
          <tr>
            <th>Disponible actuellement</th>
            <td><%= oneCard.disponible %></td>
          </tr>
          <tr>
            <th>Référence SKU du produit</th>
            <td><%= oneCard.reference %></td>
          </tr>
        </tbody>
      </table>
    
      <a href="/panier/add/<%= oneCard.id %>" class="button">ajouter au panier</a>
    </section>
    
    </main>
    <%- include('partials/footer') %>